@tailwind base;
@tailwind components;
@tailwind utilities;
@import "auth.scss";


html,
body {
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Segoe UI";
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: #1677ff;
}

.footer {
  mix-blend-mode: difference;
  color: #fff;
  text-align: center;
  padding: 1rem 0;

  &-fixed {
    mix-blend-mode: difference;
    color: #989898;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}

.text-basic {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

[class*=" ant-btn"], button {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Segoe UI" !important;
}

.ant-table-wrapper {
  height: 100%;

  .ant-spin-nested-loading {
    height: 100%;

    .ant-spin-container {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;

      .ant-table {
        flex: auto;
        overflow: hidden;

        .ant-table-container {
          height: 100%;
          display: flex;
          flex-flow: column nowrap;

          .ant-table-header {
            flex: none;
          }

          .ant-table-body {
            flex: auto;
            overflow: scroll;
          }
        }
      }

      .ant-table-pagination {
        flex: none;
      }
    }
  }
}

.simple-table {
  .ant-table-thead > tr > th {
    background: #ffffff;
  }

  .ant-table {
    border-radius: 1rem;
    font-size: 1rem;


    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
      padding: 1rem 0.5rem;
    }
  }
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}
