.simple-modal {
  .ant-modal-content {
    background: #0081d8;
    border-radius: 1.375rem;
    padding: 0;
    overflow: hidden;

    .ant-modal-close {
      top: 1.5rem;
      filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(110deg) brightness(108%) contrast(100%);
    }

    .ant-modal-header {
      background: transparent;
      margin-bottom: 0;

      .ant-modal-title {
        padding: 1.5rem;
        color: #FFFFFF;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.375rem;
      }
    }

    .ant-modal-body {
      border-bottom: 1px solid #D7D7D7;
    }

    .ant-modal-footer {
      margin-top: 0;
      background: #FFFFFF;
      padding: 0.75rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

  }

  .default-button {
    display: flex;
    width: 7.5rem;
    height: 2.25rem;
    align-items: baseline;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 2.9375rem;
    box-sizing: border-box;
  }


  .cancel-button {
    @extend .default-button;
    background: #FFF;
    color: #7E7E7E;
    border: 1px solid #D2D2D2;
  }

  .ok-button {
    @extend .default-button;
    background: #0062FF;
    color: #FFF;
  }

  .search-button {
    @extend .default-button;
    background: #ff7555;
    color: #FFF;

    &:hover {
      background: rgba(#ff7555, 0.9);
    }
  }
}
